.board {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.next-player-is {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
