.square {
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  background-color: white;
  font-size: 38px;
}

@media screen and (min-width: 768px) {
  .square {
    width: 100px;
    height: 100px;
    font-size: 64px;
  }
}
